<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="static/scripts/pipeline-manager.js"></script>
</head>

<body>
    <!-- Button to trigger the backend call -->
    <button onclick="generateStory()">Generate Story</button>

    <!-- Div to display the result from the backend -->
    <div id="text-result"></div>
    <br />
    <div id="image-prompt-result"></div>
    <br />
    <img id="image-result" url="" />

</body>

</html>